::ng-deep {
  $position-size: 65px;
  $icon-size: 40px;
  $big-icon-size: 64px;
  $padding: 10px;
  $radius: 8px;
  $border-width: 2px;
  $content-width: 500px;
  $close-icon-size: 15px;
  $close-button-touch-area: $padding + $close-icon-size + $padding;
  $color-blue: #3c8ed2;
  $color-dark-blue: #2E73B1;
  $color-white: #FFF;
  $color-dark-white: #E1E7F2;
  $color-gray: #C2C0C0;
  $color-light-gray: #CCC;
  $header-height: 70px;
  $icon-margin: 15px;
  
  .imgStyle {
    margin: $icon-margin auto $icon-margin $icon-margin;
    height: $header-height - 2 * $icon-margin;
  }
  
  .smartMessage {
    border-radius: $radius;
    overflow: hidden;
    position: initial;
    &Wrapper {
      &.positionTop {
        bottom: auto;
        top: $position-size;
      }
      &.positionMiddle {
        bottom: auto;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &.higherPosition {
        margin-bottom: 0px;
      }
    }
    &Header {
      display: flex;
      align-items: center;
      background: $color-blue;
      padding: 10px 30px 10px 20px;
    }
    &HeaderExp {
      padding-left: 10px;
      .smartMessageText {
        margin: 0 auto;
      }
      .imgStyle {
        padding-right: 14px;
      }
    }
    &IconWrapper {
      width: $icon-size;
      height: $icon-size;
      min-width: $icon-size;
      padding: 5px;
      border-radius: 50%;
      background: $color-white;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
    }
    &Icon {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
    }
    &Text {
      color: $color-white;
    }
    &Buttons {
      display: flex;
      border: $border-width solid $color-gray;
      border-top: 0;
      overflow: hidden;
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
    &Button {
      flex-grow: 1;
      text-align: center;
      padding: 10px 5px;
      text-decoration: none;
      font-weight: 600;
      color: $color-blue;
      text-transform: uppercase;
      border-right: $border-width solid $color-gray;
      background: $color-white;
      cursor: pointer;
      &:last-child {
        border: 0;
      }
      &:hover {
        background: $color-light-gray;
      }
    }
    &Link {
      background: transparent;
      color: $color-white;
      display: block;
      margin-top: 20px;
      text-decoration: none;
      text-align: left;
      padding-left: 0;
      &:hover {
        text-decoration: underline;
      }
    }
    a {
      cursor: pointer;
    }
  }
  
  .smartMessageWrapper.pollenType {
    .smartMessage {
      border-radius: 0;
      &IconWrapper {
        width: $big-icon-size;
        height: $big-icon-size;
        min-width: $big-icon-size;
        border: 4px solid $color-dark-blue;
        background: $color-dark-white;
      }
      &Text {
        color: $color-dark-white;
      }
      &Link {
        color: $color-white;
        display: block;
        margin-top: 10px;
        text-decoration: none;
        &:hover {
          background: none;
          color: $color-white;
          text-decoration: underline;
        }
        a {
          color: inherit;
        }
      }
    }
  }
  
  .smartMessageWrapper {
    &.messageVisible,
    &.messageHidden {
      overflow: hidden;
    }
    &.messageVisible {
      visibility: visible;
      opacity: 1;
      z-index: 1000;
      transition: opacity 1s linear;
    }
    &.messageHidden {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 1s, opacity 1s linear;
      > div {
        margin-left: -10000px;
        transition: margin-left 0s 1s;
      }
    }
  }
  
  .closeButton {
    color: white;
    position: absolute;
    right: 20px;
    width: $close-button-touch-area;
    height: $close-button-touch-area;
    text-align: center;
    font-size: 12px;
    line-height: $close-button-touch-area;
    cursor: pointer;
    &:hover {
      color: $color-gray;
    }
    >:global(.iconset-ui) {
      line-height: $close-button-touch-area;
    }
  }
  
}

::ng-deep .white-snackbar {
  background: rgb(253, 253, 253);
  padding: 0px;
}
